.App {
  text-align: center;
  background-color: #0d0d11;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #0e101d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  background-color: #0e101d;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1vmin;
  color: white;
}

.App-body {
  background-color: #0d0d11;
  color: white;
  min-height: 40vmax;
}

.App-content {
  margin:2rem;
  font-style: unset;
}

.App-footer {
  background-color: #0e101d;
  min-height: 15vmax;
}

.App-link {
  color: #34caf3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
